a {
    color: white;
    font-family: poppinsmedium;
    letter-spacing: 0.7px;
    font-size: 20px;
    text-decoration: none;
}

a:hover{
    color: rgb(236, 236, 236);
    font-size: 20.5px;
}

body {
    margin: 0;
    background-color: black;
    text-align: center;
    margin-top: 300px;

}